.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust height as needed */
  background-color: #ffffff;
}

.header img {
  max-width: 100%; /* Keeps the image responsive */
  height: auto;    /* Maintains the aspect ratio */
} 

body {
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #35dbeb;

}

.topnav {
  overflow: hidden;
  background-color: #00aaaa;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #3dd4e5;
  color: black;
}

.apartments{

  left: 100px;
  background-color: #77e1ed;
  font-family: verdana;
  color:  #000000;
  position: absolute;
  text-align: center;

}
.apartments1{

  left: 450px;
  background-color: #77e1ed;
  font-family: verdana;
  color:  #000000;
  position: absolute;
  text-align: center;
}
.apartments2{


  left: 800px;
  background-color: #77e1ed;
  font-family: verdana;
  color:  #000000;
  position: absolute;
  text-align: center;
}
.apartments3{

  left: 1150px;
  background-color: #77e1ed;
  font-family: verdana;
  color:  #000000;
  position: absolute;
  text-align: center;
}


